<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content = "IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles.css') }}" />
    <script src="{{ url_for('static',filename='script.js') }} "></script>
    <title>
        McGaugh Hall Machines
    </title>
</head>
<body>
    <div class="main">
        <h1>McGaugh Hall Machines</h1>
        <p> Contact: kellyh12@uci.edu </p>
    </div>

    <div class="quick-stats">
        <div class="row">
            <div class="column left">
                
                    <h2>Machine</h2>
                    <div class="in-stats">
                        {% for autoclaves in autoclaves%}
                        <p>{{ autoclaves['mname'] }}</p>
                        {% endfor %}
                    </div>
                
            </div>
            <div class="column mid">
                <h2> Statuses </h2>
                <div class="in-stats">
                    {% for autoclaves in autoclaves %}
                    <p>{{ autoclaves['stat'] }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="column right">
                <h2> Approx. Time Done</h2>
                <div class="in-stats">
                    {%for autoclaves in autoclaves%}
                    <p onload="calcEndTime(autoclaves['created'], autoclaves['setting'])" id="endTime"></p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>
